/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END reset CSS*/

.embed-container { 
  position: relative;
  padding-bottom: 56%;
  height: 0; overflow: hidden; 
  max-width: 100%; 
  width: 100%; 
  height: auto; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

body {
  background-color: #500;
  background-image: url(../images/bg.jpg);
  background-size: 100% auto;
  font-family: 'Open Sans', sans-serif;
}

.header {
  height: auto; 
  max-width: 100%;
  margin: 0;
}

.title {
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 200%;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.sub-title {
  font-family: 'Roboto Slab', serif;
  margin: 10px 0;
  font-size: 150%;
  line-height: 99%;
  padding-left: 1%;
}

.container {
  position: relative;
  min-height: 600px;
  height: 100%;
  width: 100%;
  max-width: 1080px;
  background-color: #FFF;
  background-image: url(../images/crossword.png);
  background-repeat: repeat;
  margin: 0 auto;
  overflow: auto
}

video {
  float: left;
  margin-right: 3%;
  margin-left: 1%;
  margin-bottom: 5px;
  height: auto;
  width: 98%;
}

.video {
  float: left;
  margin-right: 3%;
  margin-left: 1%;
  margin-bottom: 5px;
  height: auto;
  max-width: 360px;
  width: 98%;
}

.content {
  display: block;
  margin-top: 30px;
  width: 98%;
  float: left;
  padding: 20px 1%;
}

.content p {
  margin:  10px; 
}

.content p:first-child {
  margin-top:  0 !important;
}


.nav {
  position: fixed;
  background-color: #424242;
  background-repeat: repeat;
  max-width: 1080px;
  width: 100%;
  float: right;
  color: #eaeaea;
  line-height: 30px;
  margin: 0;
  z-index: 9999;
}


.nav .nav_logo {
  width: 25%;
  height: 30px;
  float: left;

}

.nav .nav_logo i {
  margin-left: 10%;
}

.nav .nav_item {
  width: 24%;
  height: 30px;
  text-align: center;
  float: right;
  border-left: 1px solid #5f5f5f;
}

.nav div:hover {
  cursor: pointer;
}

.nav .nav_item:hover {
  cursor: pointer;
  background-color: #4b4b4b;
}

ul {
  list-style-type: circle;
}
ul li {
  margin-left: 3% 
}

ol {
  list-style-type: decimal;
}

ol li {
  margin-left: 3% 
}

ul.tab {
  width: 98%;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
  list-style-type: none;
}

ul.tab li {
  background-color: #fffff5;
  line-height: 30px;
  border: 1px solid #e3e3e3;
  padding-left: 10px;
  margin-left: 0;
}

ul.tab li.alternate {
  background-color: #fffadc;
}

.tabber .prev {
  float: left; 
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-left: 1%;
  text-align: left;
  cursor: pointer;
  border: 1px solid #e3e3e3;
}

.tabber .prev i {
    margin: auto 5px;
}

.tabber .next {
  float: right;
  display: block;
  width: 50px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-right: 1%;
  text-align: right;
  cursor: pointer;
  border: 1px solid #e3e3e3;
}

.tabber .next i {
  margin: auto 5px;
}

.person {
 float: left;
 width: 30%;
 text-align: center;
 margin-left: 5%;
}

.person img {
 border-radius: 50%;
 width: 100%; 
 max-width: 200px;
 height: auto;
 margin: 0 auto;
}

.person:first-child {
 margin-left: 0;
}
