<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href='<% base_url %>/assets/css/roboto-slab.css' type='text/css'>
  <link rel="stylesheet" href='<% base_url %>/assets/css/open-sans.css' type='text/css'>
  <link rel="stylesheet" href="<% base_url %>/assets/css/font-awesome.min.css" >
  <link rel="stylesheet" href="<% base_url %>/assets/css/style.css">
  <script type="text/javascript" src="<% base_url %>/assets/js/jquery-2.1.1.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="nav">
      <div class="nav_logo" onclick="window.location = '<%= base_url %>';"><i class="fa fa-beer"></i></div>
      <div class="nav_item" onclick="window.location = '<%= base_url+/sobre/ %>';">
        Sobre</div>
      <div class="nav_item" onclick="window.location = '<%= base_url+/comidas/ %>';">
        Receitas
      </div>
      <div class="nav_item" onclick="window.location = '<%= base_url+/tipos-cerveja/ %>';">
        Cervejas
      </div>
    </div>
