<% include ../_partials/header %>
  <div class="content">
    <div class="title">Equipe de Desenvolvedores</div>

    <div class="person" style="margin-left: 0;">
      <img src="<% base_url %>/assets/images/adriano.jpg" /> <br>
      Adriano Soares <br>
      FrontEnd / BackEnd
    </div>
    <div class="person">
      <img src="<% base_url %>/assets/images/luiza.jpg" /> <br>
      Luiza Eitelvein <br>
      FrontEnd / Conteudo
    </div>
    <div class="person">
      <img src="<% base_url %>/assets/images/both.jpg" /> <br>
      Eduardo Both <br>
      BackEnd / Conteudo
    </div>
  </div>
<% include ../_partials/footer %>