<% include ../_partials/header %>
    <div class="content">
      <div class="title"><%= title %></div>
      <% if(video) { %>
      <div class="video">
        <div class="embed-container">
            <iframe src="http://www.youtube.com/embed/<%= video %>" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <% } %>
      <%- content %>
      
      <% if(list.length > 0) { %>
      <div class="sub-title"> <%= sub_title %> </div>
      <div class="tabber">
      <% var i = 0; 
         var k = 2;                    
         list.forEach(function (post) { 
         if(i % k == 0) {  %>
          <ul class="tab" tab_id="<%= i / k %>">
      <% } %>
            <li class="<%= (i % 2 == 1) ? 'alternate' : '' %>" 
                onclick="window.location = '<%= base_url+list_link+post.slug %>';">
              <%= post.title %>
            </li>
      <% if(i == list.length - 1 || i % k == k - 1) { %> 
          </ul>   
      <% }
         i++;
         }); %>
        <div class="prev" onclick="prev_tab()"><i class="fa fa-arrow-left"></i>Anterior</div>
        <div class="next" onclick="next_tab()">Próximo<i class="fa fa-arrow-right"></i></div>
      </div>
      <% } %>

    </div>
<% include ../_partials/footer %>