<% include ../_partials/header %>
  <div class="content">
    <div class="title">Harmonização de Cervejas</div>
    <video src="assets/videos/roteiro.mp4" controls></video>
  </div>
<script type="text/javascript" src="assets/js/index.js"></script>
<% include ../_partials/footer %>